* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
/***************************************************************  Navbar *************************************/
body{
    padding: 0;
    margin: 0;
    background-image:  url("../images/melange.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header h4{
    color: #CB0D0D;
}
header h1{
    color: #FFFFFF;
    font-size: 70px;
    font-family: Montserrat;
}
.navbar{
    background-color: #490909;
}
.nav-item .nav-link{
    color: white;
    font-size: 20px;
}
.navbar-toggler{
    color: white;
}
.navbar-brand{
    color: white;
}

/***************************************************************  section1 *************************************/
.section1{
    background-color: #A5342BB0;
}
.section1 .tirer{
    border: 3px solid #CD5449;
    border-radius: 10px;
}
.section1 .tirer .bac{
    background-color: #F6E1C5;
    width: 700px;
    border-radius: 10px;
}
.bac .rang{
    color: black;
    
}
.bac .je{
    font-size: 35px;
}
.rang .re{
    color: #A5342B;
}


/***************************************************************  section2 *************************************/

.section2 .rose{
    background-color: #F6E1C5;
    /* height: 300px; */
    width: 700px;
    border-radius: 10px;
    position: relative;
    top: -130px;
    left: 280px;
}
.rose .vrai{
    font-size: 40px;
    color: rgb(104, 102, 102);
}
.rose h4{
    font-size: 15px;
}
.rose .fau{
    font-size: 18px;
}

.footer{
    background-color: #311919;
    color: white;
}







@media only screen and (max-width: 600px){
    /* navbar */
    header h4{
       
    }
    header h1{
        display: none;
    }
    /* section1 */
    .section1 .tirer .bac{
        width: 95%;
    }
    .bac .rang{
        font-size: 10px;
    }
    /* section2 */
    .section2 .rose{
        top: 0;
        left: 0;
        margin: 10px ;
        width: 95%;
    }
    .rose .vrai{
        font-size: 23px;
    }
    .rose .fau{
        font-size: 14px;
    }
}